@tailwind base;
@tailwind components;
@tailwind utilities;

.body-flex {
    @apply flex flex-col min-h-screen bg-[#F5F5F5];
}

.nav-toggle {
    @apply bg-white w-[30px] h-[2px] block my-2 group-hover:bg-green-500 transition;
}

.navbar-scroll .nav-toggle {
    @apply bg-black;
}

.nav-active~nav ul li {
    @apply text-black;
}

.nav-active span:nth-child(1) {
    @apply rotate-45;
}

.nav-active span:nth-child(2) {
    @apply -translate-x-20 animate-wush;
}

.nav-active span:nth-child(3) {
    @apply -rotate-45;
}

.navbar-scroll {
    @apply backdrop-blur-sm bg-white/80 h-[65px] sm:h-[80px] md:h-[90px] text-black;
    box-shadow: inset 0px -2px 0 0 rgba(0, 0, 0, 0.1);
}

.hover-navbar {
    @apply hover:text-green-600 transition relative;
}

.nav-active~nav ul {
    @apply right-0;
}

.nav-active~nav ul li {
    @apply right-[40rem] animate-listItemShow;
}

.text-primary {
    /* @apply text-[#1D764A]; */
    @apply bg-gradient-to-r from-[#1D764A] to-green-600 inline-block text-transparent bg-clip-text;
}

.bg-primary {
    @apply bg-gradient-to-r from-[#1D764A] to-green-600;
}

.text-black-gradient {
    @apply bg-gradient-to-r from-black to-slate-800 inline-block text-transparent bg-clip-text;
}

.bg-gradient-primary {
    @apply bg-gradient-to-r from-[#1D764A] to-green-600;
}

.bg-gradient-primary-hover {
    @apply hover:bg-gradient-to-r hover:from-[#29925d] hover:to-green-500;
}

.border-primary {
    @apply border-[#1D764A];
}

.nav-active~nav ul li:nth-child(1) {
    animation-delay: 0ms;
}

.nav-active~nav ul li:nth-child(2) {
    animation-delay: 80ms;
}

.nav-active~nav ul li:nth-child(3) {
    animation-delay: 160ms;
}

.nav-active~nav ul li:nth-child(4) {
    animation-delay: 240ms;
}

.nav-active~nav ul li:nth-child(5) {
    animation-delay: 320ms;
}

.nav-item {
    @apply py-3 relative lg:static flex justify-center transition;
}

nav ul li .hover-navbar::before {
    content: "";
    @apply absolute -bottom-[2px] w-full h-[2px] bg-green-600 scale-x-0 transition duration-300 origin-right;
}

nav ul li .hover-navbar:hover::before {
    @apply scale-100 origin-left;
}

.navbar-scroll .active {
    @apply text-green-800;
}

.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 100px;
}

.loading span {
    width: 4px;
    height: 50px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
}

.loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
}

.loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
}

.loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
}

.activity-item.activity-active .activity-content {
    @apply h-[250px] md:h-[150px] lg:h-[100px] scale-y-100;
}

.activity-item:not(.activity-active) .activity-content {
    @apply h-0 scale-y-0;
}

.activity-item .activity-active .list-activity {
    @apply rounded-t-lg;
}

.activity-item:not(.activity-active) .list-activity {
    @apply rounded-lg;
}

.splide-stories .splide__arrow {
    @apply bg-white;
}

.splide-stories .splide__arrow svg {
    @apply fill-[#1D764A];
}

.splide-stories .splide__slide:not(.is-active) {
    @apply opacity-20;
}

.splide-stories .splide__arrow {
    @apply mt-[28%];
}


.splide-destination .splide__arrow {
    @apply bg-white;
}

.splide-destination .splide__arrow svg {
    @apply fill-[#1D764A];
}

.splide-destination .splide__arrow.splide__arrow--prev {
    @apply lg:bg-white lg:opacity-100 lg:absolute lg:top-20 lg:right-[8.5rem] lg:w-14 lg:h-14 lg:left-auto lg:border lg:border-solid lg:border-gray-900;
}

.splide-destination .splide__arrow.splide__arrow--prev svg {
    @apply lg:fill-black;
}

.splide-destination .splide__arrow.splide__arrow--next {
    @apply lg:bg-[#1D764A] lg:opacity-100 lg:absolute lg:top-20 lg:right-16 lg:w-14 lg:h-14;
}

.splide-destination .splide__arrow.splide__arrow--next svg {
    @apply lg:fill-white;
}

.splide-destination {
    @apply relative lg:static;
}

.activity-item.activity-active .activity-icon {
    @apply rotate-180;
}

@keyframes scale {

    0%,
    40%,
    100% {
        transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1);
    }
}

@keyframes wush {
    0% {
        @apply opacity-100;
    }

    100% {
        @apply opacity-0;
    }
}

@keyframes listItemShow {
    0% {
        @apply right-[40rem];
    }

    100% {
        @apply right-0;
    }
}

.custom-shape-divider-bottom-1707913679 {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707913679 svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 154px;
}

.custom-shape-divider-bottom-1707913679 .shape-fill {
    fill: #f5f5f5;
}

.custom-shape-divider-bottom-1707918856 {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707918856 .shape-fill {
    fill: #f5f5f5;
}

.custom-shape-divider-bottom-1707918856 svg {
    width: calc(277% + 1.3px);
    height: 204px;
}